<h1>Deck#all</h1>
<%= link_to "Create Deck", deck_create_path%>
<% if @deck != nil %>
  <% @deck.each do |decks|%>
    <p>Deck number: <%=decks['id'] %>
    Deck name: <%= decks['name'] %>
    Deck Description: <%= decks['description'] %>
    User id: <%= decks['user_id'] %></p>
    <p></p>
  <% end %>


  <% else %>
    <p>no decks</p>

<% end %>


