<%= render 'layouts/nav' %>
<h1></h1>
<% @cards.each do |card|  %>
  <table>
    <thead>Card ID: <%= card['id'] %> </thead>
    <tbody>Card Question: <%= card['question'] %> </tbody>
    <tbody>Card Answer: <%= card['id'] %> </tbody>
    <tbody><%= button_to "Delete", card_destroy_path, params: [id: card['id']], method: :delete %></tbody>
    <tbody><%= button_to "Edit", card_edit_path, params: [id: card['id']], method: :get %></tbody>
  </table>
  <br />
<% end %>