<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= link_to "All Deck", deck_all_path %>
    <%= link_to "All Cards", card_all_path %>
    <%= link_to "Signup", user_view_path %>
    <%= yield %>

  </body>
</html>
